<div class = 'cgs-dashboard-container'>
   <div class = 'dash-area' onclick="location.href='{{{atturl}}}';">
      <h1>{{att}}</h1>
      <img src="{{attsrc}}" alt="{{att}}">
   </div>
   <div class = 'dash-area' onclick="location.href='https://www.google.com';">
      <h1>{{acc}}</h1>
      <img src="{{academic}}" alt="{{acc}}">    
   </div>
   <div class = 'dash-area' onclick="location.href='{{{geurl}}}';">
      <h1>Grades - Effort</h1>
      <img src="{{gestr}}" alt="{{gr}}">    
   </div>
   <div class = 'dash-area dash-area-naplan' onclick="location.href='{{{napurl}}}';">
      <h1>{{nap}}</h1>
      <br>
      <br>
      <img src="{{naplan}}" alt="{{nap}}">      
   </div>
</div>

