  <main id = "cgs-dashboard-main" data-userid = "{{userid}}">
    <h1><a href ="{{studenturl}}">{{studentname}}</a> Dashboard</h1>
    <div id ="selected-section-container">
      {{> report_mystudent/cgsdashboard}}
    </div>
  </main>
