{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.

@package block_attendance_report
@copyright 2020 Veronica Bermegui
@license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

<table class="cgs-dashboard-attendance-table att-by-class">
   <thead>
      <tr>
         <th>{{#str}} classdescription, block_attendance_report {{/str}}</th>
          <th>{{#str}} percentageattendedforterm, block_attendance_report {{/str}}</th>
         <th>{{#str}} arrivedlate, block_attendance_report {{/str}}</th>
         <th>{{#str}} percentagearrivedlate, block_attendance_report {{/str}}</th>
      </tr>
   </thead>
   <tbody>
      {{#classes}}
      <tr>
         <td>{{classdescription}}</td>
         {{^lessthan}} <td class ="table-success"> {{attended}}/{{totalclasses}}  ( {{percentageattended}}%)</td>{{/lessthan}}
         {{#lessthan}} <td class ="table-danger"> {{attended}}/{{totalclasses}}  ({{percentageattended}}%)</td>{{/lessthan}}
         {{^nooflateshow}} <td></td> {{/nooflateshow}}
         {{#nooflateshow}}<td>{{nooflateclasses}}</td>{{/nooflateshow}}
         <td>{{#islate}}{{percentagelate}}%{{/islate}}</td>
         
      </tr>
      {{/classes}}
   </tbody>
</table>